.lightbulb-wrapper {
    #lightbulb {
        position: absolute;
        top: 13%;
        left: 58%;
        width: 25%;
    }

    .speech-bubble {
        position: relative;
        top: -150px;
        left: 71%;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        display: flex;
        width: fit-content;

        .message {
            position: absolute;
            left: 11%;
            width: 80%;
            transform: translateY(-10%);
        }
    }
}