.lightbulb-wrapper {
    position: absolute;
    bottom: calc(2% + 471px - 100px);
    left: 12%;

    #lightbulb {
        display: inline-block;
        height: 255px;
    }
}

.speech-bubble {
    position: absolute;
    bottom: calc(2% + 550px);
    left: calc(12% + 130px);
    text-align: center;
    vertical-align: middle;
    align-items: center;
    display: inline-flex;
    width: fit-content;

    // #speech {
    //     width: 95%;
    // }

    .message {
        position: absolute;
        left: 14%;
        width: 75%;
        transform: translateY(-30%);
        font-family: 'Comic Sans MS', sans-serif;
        font-size: 1.1rem;
    }
}