@font-face {
  font-family: "digital";
  src: url("../../assets/fonts/digital-7.ttf") format("truetype");
  /* Optional: provide additional font formats for compatibility */
  font-weight: normal;
  font-style: normal;
}

#energy-meter {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 38%;
  top: 40%;
}

#svg-path {
  overflow: visible;
  /* Prevent clipping of the circle */
}


#heco-meter {
  position: relative;
  margin-left: -40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../assets/images/energy-meter/meter.png');
  background-size: cover;
  height: 200px;
  width: 200px;
}

// #heco-meter-img {
//   height: 200px;
// }

#heco-meter-text {
  font-size: 21px;
  font-family: "digital";
  color: #000;
  margin: 0;
  top: 78px;
  left: 55px;
  position: absolute;
}

#heco-meter-cost {
  font-size: 24px;
  color: #000;
  margin: 20px 0 0 0;
}

#heco-rate {
  font-size: 14px;
  color: #000;
  margin: 0;
}

#energy-unit {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  text-align: right;
}

#grid-img {
  height: 200px;
  padding-left: 120px;
}

#energy-rate {
  font-family: "digital";
}

#energy-rate-unit {
  font-family:'Courier New', Courier, monospace
}

#energy-cost {
  font-family: "digital";
}

.blink {
  animation: blink-animation 1s steps(1) infinite;
}

@keyframes blink-animation {
  50% {
    visibility: hidden;
  }
}