<div class="chart-container">
  <canvas id="MyChart"></canvas>
  <img #imgElement src="assets/images/house/refrigerator.png" alt="Refrigerator" style="display: none;">
  <img #imgElement src="assets/images/house/washer.png" alt="Washer" style="display: none;">
  <img #imgElement src="assets/images/house/dryer.png" alt="Dryer" style="display: none;">
  <img #imgElement src="assets/images/house/ac.png" alt="AC" style="display: none;">
  <img #imgElement src="assets/images/house/oven.png" alt="Oven" style="display: none;">
  <img #imgElement src="assets/images/house/light.png" alt="Light" style="display: none;">
  <img #imgElement src="assets/images/house/tv.png" alt="TV" style="display: none;">
  <img #imgElement src="assets/images/house/ceilingfan.png" alt="Ceiling Fan" style="display: none;">
  <img #imgElement src="assets/images/house/porchlight.png" alt="Porch Light" style="display: none;">  
</div>

