.chart-container {
  width: 50%;
  height: 40vh;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-top: 0.2vh;
  border-radius: 8px;
  color: white;
  position: absolute;
  top: 2%;
  right: 1%;
  background-color: rgba(77,77,77, 0.7);
  border-radius: 20px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

canvas {
  width: 100% !important;
  height: 100% !important;
  color: white;

}
