<div>
  <app-energy-meter [itemToggled]="itemToggled"></app-energy-meter>
  <app-house (itemToggled)="onItemToggled($event)"></app-house>
  <app-day-night-slider></app-day-night-slider>
  <app-house (itemToggled)="onItemToggled($event)"></app-house>
  <app-appliance-chart></app-appliance-chart>
  <app-lightbulb [itemToggled]="itemToggled"></app-lightbulb>
  <!-- <fusioncharts 
    type="angulargauge" 
    width="450" 
    height="250" 
    dataFormat="json" 
    [dataSource]="dataSource">
  </fusioncharts> -->
</div>
