.house-wrapper {
    position: absolute;
    top: 18%;
    left: 12%;
}


.house-image {
    position: absolute;
}

.house-controls {
    position: relative;
}
.house-appliance {
    position: absolute;
    cursor: pointer;
}
.house-appliance.active {
    // animation: wiggle 2s infinite;
}
.solar-panel.glow,
.house-appliance.glow {
    display: none;
}

.solar-panel.glow.active,
.house-appliance.glow.active {
    // animation: wiggle 2s infinite;
    display: block;
}


#solar-panel {
    position: absolute;
    cursor: pointer;
    width: 170px;
    top: 34px;
    left: 305px;
}

.house-controls {
    #refrigerator {
        top: 356px;
        left: 149px;
        width: 65px;
    }
    #oven {
        top: 384px;
        left: 104px;
        width: 55px;
    }
    #washer {
        top: 233px;
        left: 268px;
        width: 50px;
    }
    #dryer {
        top: 233px;
        left: 308px;
        width: 50px;
    }
    #ac {
        top: 150px;
        left: 152px;
        width: 100px;
    }
    #tv {
        top: 342px;
        left: 215px;
        width: 113px;
    }
    #light {
        width: 42px;
        top: 139px;
        left: 77px;
    }
    #porch-light {
        top: 295px;
        left: -30px;
        width: 45px;
    }
    #ceiling-fan {
        top: 297px;
        left: 335px;
        width: 85px;
    }    
}

@keyframes wiggle {
    // 0% { transform: rotate(0deg); }
   25% { transform: rotate(10deg); }
//    50% { transform: rotate(0deg); }
   75% { transform: rotate(-10deg); }
//   100% { transform: rotate(0deg); }
}