<div class="house-wrapper">
    <div class="house-layout">
        <img src="assets/images/house/house.png" alt="House" class="house-image">
        <div class="solar-panel-wrapper">
            <img [src]="isSolarPanelOn ? 'assets/images/house/solarpanel_glow.png' 
                                    : 'assets/images/house/solarpanel.png'"
                    [ngClass]="{ 'active': isSolarPanelOn }"
                    alt="Solar Panel"
                    id="solar-panel" 
                    (click)="toggleAppliance($event)"/>
        </div>
        <div class="house-controls">
            <!--- Appliances --->
            <div class="house-appliance-wrapper">
                <img [src]="isRefrigeratorOn ? 'assets/images/house/refrigerator_glow.png' 
                                     : 'assets/images/house/refrigerator.png'"
                     [ngClass]="{ 'active': isRefrigeratorOn }"
                        alt="Refrigerator"
                        id="refrigerator" 
                        class="house-appliance" 
                        (click)="toggleAppliance($event)"/>
            </div>
            <div class="house-appliance-wrapper">
                <img [src]="isWasherOn ? 'assets/images/house/washer_glow.png' 
                                     : 'assets/images/house/washer.png'"
                     [ngClass]="{ 'active': isWasherOn }"
                        alt="Washer"
                        id="washer" 
                        class="house-appliance" 
                        (click)="toggleAppliance($event)"/>
            </div>
            <div class="house-appliance-wrapper">
                <img [src]="isDryerOn ? 'assets/images/house/dryer_glow.png' 
                                     : 'assets/images/house/dryer.png'"
                     [ngClass]="{ 'active': isDryerOn }"
                        alt="Dryer"
                        id="dryer" 
                        class="house-appliance" 
                        (click)="toggleAppliance($event)"/>
            </div>
            <div class="house-appliance-wrapper">
                <img [src]="isACOn ? 'assets/images/house/ac_glow.png' 
                                : 'assets/images/house/ac.png'"
                     [ngClass]="{ 'active': isACOn }"
                        alt="AC"
                        id="ac"
                        class="house-appliance"
                        (click)="toggleAppliance($event)"/>
            </div>
            <div class="house-appliance-wrapper">
                <img [src]="isOvenOn ? 'assets/images/house/oven_glow.png' 
                                     : 'assets/images/house/oven.png'"
                     [ngClass]="{ 'active': isOvenOn }"
                        alt="Oven"
                        id="oven"
                        class="house-appliance"
                        (click)="toggleAppliance($event)"/>
            </div>
            <div class="house-appliance-wrapper">
                <img [src]="isLightOn ? 'assets/images/house/light_glow.png' 
                                      : 'assets/images/house/light.png'"
                     [ngClass]="{ 'active': isLightOn }"
                        alt="Light"
                        id="light"
                        class="house-appliance"
                        (click)="toggleAppliance($event)"/>
            </div>
            <div class="house-appliance-wrapper">
                <img [src]="isTVOn ? 'assets/images/house/tv_glow.png' 
                                   : 'assets/images/house/tv.png'"
                     [ngClass]="{ 'active': isTVOn }"
                        alt="TV"
                        id="tv"
                        class="house-appliance"
                        (click)="toggleAppliance($event)"/>
            </div>
            <div class="house-appliance-wrapper">
                <img [src]="isCeilingFanOn ? 'assets/images/house/ceilingfan_glow.png' 
                                           : 'assets/images/house/ceilingfan.png'"
                     [ngClass]="{ 'active': isCeilingFanOn }"
                        alt="Ceiling Fan"
                        id="ceiling-fan"
                        class="house-appliance"
                        (click)="toggleAppliance($event)"/>
            </div>
            <div class="house-appliance-wrapper">
                <img [src]="isPorchLightOn ? 'assets/images/house/porchlight_glow.png' 
                                          : 'assets/images/house/porchlight.png'"
                     [ngClass]="{ 'active': isPorchLightOn }"
                        alt="Porch Light"
                        id="porch-light"
                        class="house-appliance"
                        (click)="toggleAppliance($event)"/>
            </div>
        </div>
    </div>
</div>