/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    overflow: hidden;
    background-color: #bae7f9;
    background-image: url('assets/images/background.png');
    background-size: cover;
}