@font-face {
    font-family: "Comic Sans MS";
    src: url("assets/fonts/comic.ttf") format("truetype");
    /* Optional: provide additional font formats for compatibility */
    font-weight: normal;
    font-style: normal;
}

/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;

}

body {
    display: inline-block;
    overflow: hidden;
    background-color: #9ed5eb;
    background-image: url('assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 1s ease;
}

img {
    -webkit-user-drag: none;
}

.time-images {
    margin: -15px -18px -10px 0;
    width: 11vh;
    height: auto; // Keep aspect ratio
}

.time-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -10px;
    font-family: 'Comic Sans MS', sans-serif;
    text-wrap: wrap;
    font-size: 1.20rem;
}

.time-range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -10px;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 1.1rem;
}

// .ngx-slider .ngx-slider-tick {
//     width: 0px !important;
//     height: 0px !important;
// }

// :focus-visible {
//     outline: none;
// }