.slider-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    top: 12%;
}

.slider-container {
    display: flex;
    align-items: center;
    position: relative;
}

.time-images {
    width: 50px; // Size the images
    height: auto; // Keep aspect ratio
}